## Finding Frequent Itemsets & Association Rule Mining

MLextend is a python library for data science tasks. The documentation of this library can be found through this [link](http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/#overview). It can be installed using

pip install mlxtend or conda install mlxtend

Sometimes using the previous commands the library is not correctly installed, especially in the case when there are multiple Python versions installed on your Jupyter notebook. In that case, it is recommended to use the command shown in the next cell (directly in your Jupyter notebook):

In [16]:
#!pip install mlxtend
import sys
!{sys.executable} -m pip install mlxtend

Requirement already satisfied: mlxtend in /opt/homebrew/lib/python3.11/site-packages (0.22.0)
Requirement already satisfied: scipy>=1.2.1 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.10.1)
Requirement already satisfied: numpy>=1.16.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (2.0.1)
Requirement already satisfied: scikit-learn>=1.0.2 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (1.3.0)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in /Users/mehwishalam/Library/Python/3.11/lib/python/site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: setuptools in /opt/homebrew/lib/python3.11/site-packages (from mlxtend) (68.1.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python3.11 -m pip install --upgrade pip

### One-hot encoding

Sometimes it is required to transform categorical data where features might take more than two values into one-hot encoding, where each feature can take either 0 or 1 (or True/False). For example, let's consider the following set of baskets with each basket containing all the items bought during a simple trip to the supermarket. Using the following script (which uses a TransactionEncoder from mlxtend) we obtain a one-hot encoding of the data, which is required by the apriori method of mlxtend:

### DataFrame

One convenient way to load data from an input file and perform some preprocessing on it is to use panda DataFrame. A DataFrame is a "two-dimensional, size-mutable, potentially heterogeneous tabular data." It contains several tools to process and handle tabular data. Click on this <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html">link</a> for a documentation.

To use a DataFrame we need to install the "pandas" library with any of the methods we saw up to now.

In [17]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

Observe that we have now a number of features being equal to the number of items in the data. Each column corresponds to a feature, while each row-column entry specifies whether the corresponding basket contains the corresponding feature or not (e.g. "Milk").

### Frequent itemsets and association rules

Finally we are able to run apriori on the data represented with one-hot encoding using the corresponding methods from mlxtend. Please find below the full code:

In [3]:
from mlxtend.frequent_patterns import apriori
#Uncomment the following line to use FP-growth algorithm
#from mlxtend.frequent_patterns import fpgrowth

frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
#Uncomment the following line to use FP-growth algorithm
#frequent_itemsets = fpgrowth(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Eggs, Kidney Beans)       2
6       0.6                (Onion, Eggs)       2
7       0.6         (Milk, Kidney Beans)       2
8       0.6        (Onion, Kidney Beans)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Onion, Eggs, Kidney Beans)       3

In [4]:
from mlxtend.frequent_patterns import association_rules

a=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)


a[["antecedents","consequents","support","confidence"]]

              antecedents            consequents  support  confidence
0                  (Eggs)         (Kidney Beans)      0.8        1.00
1          (Kidney Beans)                 (Eggs)      0.8        0.80
2                 (Onion)                 (Eggs)      0.6        1.00
3                  (Eggs)                (Onion)      0.6        0.75
4                  (Milk)         (Kidney Beans)      0.6        1.00
5                 (Onion)         (Kidney Beans)      0.6        1.00
6                (Yogurt)         (Kidney Beans)      0.6        1.00
7           (Onion, Eggs)         (Kidney Beans)      0.6        1.00
8   (Onion, Kidney Beans)                 (Eggs)      0.6        1.00
9    (Eggs, Kidney Beans)                (Onion)      0.6        0.75
10                (Onion)   (Eggs, Kidney Beans)      0.6        1.00
11                 (Eggs)  (Onion, Kidney Beans)      0.6        0.75

##Selecting and Filtering Results

In [5]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.8) ]

   support              itemsets  length
5      0.8  (Eggs, Kidney Beans)       2

In [6]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

   support       itemsets  length
6      0.6  (Onion, Eggs)       2

In [7]:
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,0.0
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0,0.0
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
7,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
8,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
9,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
10,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0

In [8]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)

In [9]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric,antecedent_len
0,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5,1
1,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0,1
2,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5,2
3,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0,2
4,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5,1
5,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0,1

## Using a CSV file

In [10]:
import pandas as pd

#read order_data.csv and create a DataFrame with that content
data = pd.read_csv(r"order_data.csv",delimiter=" ",header=None)
data

,0,1,2,3,4,5,6,7,8
0,toothpaste,brush,milk,cereals,honey,bread,butter,cheese,yogurt
1,milk,cereals,honey,bread,cheese,razor,gel,shampoo,NaN
2,milk,cereals,honey,cheese,soap,shampoo,NaN,NaN,NaN
3,honey,bread,butter,cheese,mouthwash,toothpaste,NaN,NaN,NaN
4,cereals,honey,bread,butter,gel,soap,NaN,NaN,NaN
5,cheesse,yogurt,milk,cereals,honey,shampoo,gel,NaN,NaN
6,honey,bread,cheese,razor,butter,yogurt,NaN,NaN,NaN
7,honey,bread,cheese,butter,milk,NaN,NaN,NaN,NaN
8,cereals,butter,cookies,chips,NaN,NaN,NaN,NaN,NaN
9,cerals,cheese,yogurt,cookies,chips,NaN,NaN,NaN,NaN
10,toothpaste,brush,gel,shampoo,soap,cookies,chips,NaN,NaN
11,toothpaste,brush,gel,razor,mouthwash,milk,cookies,NaN,NaN
12,razor,shampoo,gel,soap,bread,butter,NaN,NaN,NaN
13,brush,shampoo,gel,toothpaste,mouthwash,bread,cheese,NaN,NaN
14,mouthwash,toothpaste,soap,shampoo,cheese,yogurt,NaN,NaN,NaN
15,razor,mouthwash,soap,butter,bread,cheese,NaN,NaN,NaN
16,shampoo,soap,gel,milk,honey,cereals,NaN,NaN,NaN
17,toothpaste,razor,gel,brush,mouthwash,shampoo,NaN,NaN,NaN
18,gel,razor,shampoo,milk,cereals,bread,cookies,NaN,NaN
19,mouthwash,toothpaste,milk,bread,cookies,NaN,NaN,NaN,NaN

In [11]:
#we run apriori on the order_data.csv file

import math
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules


data = pd.read_csv(r"order_data.csv",delimiter=" ",header=None)

#preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d=data.values.tolist()

#removing nan values
for i in range(len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break

te = TransactionEncoder()
te_ary = te.fit(d).transform(d)
df = pd.DataFrame(te_ary, columns=te.columns_)

#computing frequent itemsets and association rules
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)

a=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

#visualizing association rules results
a[["antecedents","consequents","support","confidence"]]

            antecedents         consequents  support  confidence
0               (bread)            (butter)     0.35    0.636364
1              (butter)             (bread)     0.35    0.875000
2              (cheese)             (bread)     0.35    0.700000
3               (bread)            (cheese)     0.35    0.636364
4               (honey)             (bread)     0.30    0.666667
..                  ...                 ...      ...         ...
99      (shampoo, milk)    (honey, cereals)     0.20    0.800000
100  (shampoo, cereals)       (honey, milk)     0.20    0.800000
101       (honey, milk)  (shampoo, cereals)     0.20    0.666667
102    (honey, cereals)     (shampoo, milk)     0.20    0.666667
103     (milk, cereals)    (shampoo, honey)     0.20    0.666667

[104 rows x 4 columns]

In [12]:
type(a["antecedents"][99]) #prints frozenset

frozenset

In [13]:
i=99
if ("shampoo" in a["antecedents"][i] and "honey" in a["consequents"][i] ):
    print ("The "+str(i)+" rule talks about shampoo and honey:" )
else:
    print ("The "+str(i)+"th rule does not talk about shampoo and honey:" )

The 99 rule talks about shampoo and honey:

In [15]:
import math
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules


data = pd.read_csv(r"mammographic_masses.csv",delimiter=",",header=0)

#preprocessing: change to one hot encoding so as to be able to use apriori from mlxtend
d=data.values.tolist()

#removing nan values
for i in range(0,len(d)):
    j=0
    while(True):
        if (type(d[i][j])==float and math.isnan(d[i][j])) :
            del d[i][j]
            j-=1
        j+=1
        if (j>len(d[i])-1):
            break

#adding attributes
for i in range(len(d)):
    for j in range (len(d[i])):
        d[i][j]=data.columns[j] + "=" +str(d[i][j])


te = TransactionEncoder()
te_ary = te.fit(d).transform(d)

df = pd.DataFrame(te_ary, columns=te.columns_)

print(df)
#this part needs to be filled...

     Age=18  Age=19  Age=20  Age=21  Age=22  Age=23  Age=24  Age=25  Age=26
0     False   False   False   False   False   False   False   False   False  \
1     False   False   False   False   False   False   False   False   False
2     False   False   False   False   False   False   False   False   False
3     False   False   False   False   False   False   False   False   False
4     False   False   False   False   False   False   False   False   False
..      ...     ...     ...     ...     ...     ...     ...     ...     ...
956   False   False   False   False   False   False   False   False   False
957   False   False   False   False   False   False   False   False   False
958   False   False   False   False   False   False   False   False   False
959   False   False   False   False   False   False   False   False   False
960   False   False   False   False   False   False   False   False   False

     Age=27  ...  Margin=4  Margin=5  Margin=?  Severity=0  Severity=1
0     False  ...     False      True     False       False        True  \
1     False  ...     False     False     False       False        True
2     False  ...     False      True     False       False        True
3     False  ...     False     False     False        True       False
4     False  ...     False      True     False       False        True
..      ...  ...       ...       ...       ...         ...         ...
956   False  ...     False     False     False        True       False
957   False  ...     False      True     False       False        True
958   False  ...     False      True     False        True       False
959   False  ...     False      True     False       False        True
960   False  ...     False     False     False        True       False

     Shape=1  Shape=2  Shape=3  Shape=4  Shape=?
0      False    False     True    False    False
1       True    False    False    False    False
2      False    False    False     True    False
3       True    False    False    False    False
4       True    False    False    False    False
..       ...      ...      ...      ...      ...
956    False     True    False    False    False
957    False    False    False     True    False
958    False    False    False     True    False
959    False    False    False     True    False
960    False    False     True    False    False

[961 rows x 99 columns]